@import "navigation.scss";
@import "homepage.scss";
@import "contactpage.scss";
@import 'swiper/scss';
@import 'swiper/css/navigation';
@import 'swiper/css/autoplay';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

