@keyframes slideInFromLeft {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeftWithColor {
  0% {
    transform: translateX(-100vw);
    opacity: 1;
    color: pink;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    color: white;
  }
}

@keyframes fadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInProjects {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section {
  background-image: url("/images/Background.jpg");
  background-size: cover;
  background-position: center;
  padding: 1em 1em 2em 1em;
  display: flex;
  justify-content: center;
}

.hero-content {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  color: black;
}

.main-heading {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bangers", sans-serif;
  letter-spacing: 2px;
  animation-delay: 0s;
  transform: translateX(-100vw);
  opacity: 0;
  animation: slideInFromLeft 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  flex-wrap: nowrap;
}

.hero-image {
  flex-shrink: 0;
  margin-top: 1em;
  opacity: 0;
  animation: fadeInImage 2s ease-in forwards;
  animation-delay: 2.1s;

  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px inset black;
  }
}

.hero-text {
  flex: 1;
  max-width: 650px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-text h2 {
  transform: translateX(-100vw);
  opacity: 0;
  animation: slideInFromLeftWithColor 1.5s ease-out forwards;
  animation-delay: 0.5s;
  color: black;
}

.design {
  color: white;
  text-shadow: 0 0 3px black, 0 0 6px black;
}

.hero-text h2 {
  font-size: 2.2rem;
  font-weight: bold;
  align-self: flex-end;
  margin-top: 0;
  font-style: italic;
  color: white;
  text-shadow: 0 0 5px black, 0 0 10px black;
}

.hero-text p {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: right;
  margin-top: 2em;
  font-weight: 599;
  opacity: 0;
  animation: fadeInText 2s ease-in forwards;
  animation-delay: 2.1s;
}

.projects-section {
  background-color: black;
  padding: 1em;
  color: white;
  opacity: 0;
  animation: fadeInProjects 2s ease-in forwards;
  animation-delay: 2.1s;
}

.projects-heading {
  font-size: 2.7rem;
  margin-bottom: 0.8em;
  margin-left: 0.7em;
  font-family: "Bangers", sans-serif;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 1px pink, 0 0 2px pink;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 4em;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.project-item {
  display: flex;
  align-items: center;
  gap: 2em;
  background-color: #111;
  border-radius: 12px;
  padding: 1.5em;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px pink;
}

.project-item img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.project-text {
  flex: 1;

  h3 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: pink;
    font-style: italic;
    text-shadow: 0 0 1px pink, 0 0 2px pink;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: white;
  }
}

.experience-section {
  background-color: black;
  color: white;
  padding: 1em;
  margin-bottom: 4em;

  .experience-heading {
    font-size: 2.7rem;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    padding: 0.5em 0.5em;
    border-radius: 4px;
    display: inline-block;
    font-family: "Bangers", sans-serif;
    letter-spacing: 4.5px;
    color: white;
    text-shadow: 0 0 1px pink, 0 0 2px pink;
  }

  .experience-grid {
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 0 auto;
  }

  .experience-card {
    background-color: #111;
    border: 0.5px solid pink;
    border-radius: 20px;
    padding: 0.5em 2em;
    flex: 1 1 300px;
    max-width: 500px;
    box-shadow: 0 0 10px pink;
    color: pink;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .experience-title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1em;
      color: pink;
      font-style: italic;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.6;
      margin: 1em 0;
      color: white;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 20px pink;

      p {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.place {
  font-size: 1.6rem;
  font-weight: bold;
  color: pink;
}

.experience-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px pink;
}

.skills-section {
  background-color: black;
  padding: 1em;
  color: white;
  overflow: hidden;
}

.skills-heading {
  font-size: 2.7rem;
  margin-bottom: 0.5em;
  margin-left: 0.7em;
  text-transform: uppercase;
  color: white;
  font-family: "Bangers", sans-serif;
  letter-spacing: 4.5px;
  text-shadow: 0 0 1px pink, 0 0 2px pink;
}

.skills-carousel {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.swiper {
  padding-bottom: 2em;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  height: auto;
}

.skill-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  border-radius: 12px;
  color: white;
  box-shadow: 0 0 10px pink;
  border: 0.5px solid pink;
  max-width: 600px;
  max-width: 400px;
  min-height: 300px;
  max-height: 400px;
  width: 100%;
}

.skill-slide img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 15px;
  padding: 1em;
}

@media (max-width: 768px) {
  .hero-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  .main-heading {
    font-size: 2.5rem !important;
    text-align: center;
  }

  .hero-image img {
    width: 300px;
    height: 300px;
  }

  .hero-text {
    align-items: center;
    text-align: center;
  }

  .hero-text h1 {
    align-self: center;
    font-size: 2em;
  }

  .hero-text h2 {
    align-self: center;
    font-size: 1.8em;
  }

  .hero-text p {
    text-align: center;
  }

  .contact-btn {
    align-self: center;
  }

  .projects-section {
    text-align: center;
  }

  .projects-heading {
    margin-left: 0;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    padding: 0 1em;
    gap: 2em;
  }

  .project-item {
    flex-direction: column;
    text-align: center;
    padding: 1em;
  }

  .project-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .experience-grid {
    flex-direction: column;
    align-items: center;
  }

  .experience-section {
    text-align: center;
  }

  .experience-card {
    width: 90%;
  }

  .skills-section {
    text-align: center;
  }

  .skills-heading {
    margin-left: 0;
  }

  .skill-slide {
    flex-direction: column;
    text-align: center;
    padding: 1em;
  }

  .swiper-slide {
    justify-content: center;
  }
}
